<h1 class="text-center mt-4">Turmas disponíveis:</h1>

<div class="row justify-content-md-center">
<%= form_with url: "/turmas", method: :get do |form| %>
  <%= form.label(:search, "Pesquisar por: ")%>
  <%= form.radio_button :tipo, "name", {checked: true} %>
  <%= form.label :tipo_nome, "Nome" %>
  <%= form.radio_button :tipo, "horario" %>
  <%= form.label :tipo_horario, "Horário" %>
  <%= form.radio_button :tipo, "codigo" %>
  <%= form.label :tipo_codigo, "Código" %>
  <%= form.text_field :search%>
  <%= form.submit("Pesquisar", :nome => nil)%>
<% end %>
</div>
<div class="apple_pagination">
<div class="page_info">
    <%= page_entries_info @turmas %>
</div>
    <%= will_paginate @turmas, :container => false %>
</div>
<div class="container">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark text-center">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Horário</th>
        <th scope="col">Vagas</th>
        <th scope="col">Código</th>
        <th scope="col">#</th>
      </tr>
    </thead>
  <% @turmas.order(:id).each do |turma| %>
    <div class=" justify-content-md-center">
      <tr class="table-secondary text-center">
          <td><%= turma.disciplina.nome %></td>
          <td><%= turma.horario %></td>
          <td><%= turma.vagas - turma.turma_users_count %></td>
          <td><%= turma.disciplina.codigo  %></td>
          <td>
            <% if turma.turma_users_count < turma.vagas && !current_user.coordenador && current_user.pode_matricular?(turma.id, current_user.id, turma.disciplina_id) && !current_user.ja_cursou?(turma.disciplina_id, current_user.id)  %>
              <%= link_to "Solicitar matricula", turma_users_path(user: current_user, turma: turma), class: "btn btn-success", method: :post %>
            <% end %>
          </td>
        </tr>
    </div>
  <% end %>
  </table>
</div>
<div class="apple_pagination">
    <%= will_paginate @turmas, :container => false %>
</div>