<h1 class="text-center mt-4">Turmas disponíveis:</h1>

<div class="row justify-content-md-center">
<%= form_with url: "/turmas", method: :get do |form| %>
  <%= form.label(:search, "Pesquisar por: ")%>
  <%= form.radio_button :tipo, "name", {checked: true} %>
  <%= form.label :tipo_nome, "Nome" %>
  <%= form.radio_button :tipo, "horario" %>
  <%= form.label :tipo_horario, "Horário" %>
  <%= form.radio_button :tipo, "codigo" %>
  <%= form.label :tipo_codigo, "Código" %>
  <%= form.text_field :search%>
  <%= form.submit("Pesquisar", :nome => nil)%>
<% end %>
</div>
<div class="apple_pagination">
<div class="page_info">
    <%= page_entries_info @turmas %>
</div>
    <%= will_paginate @turmas, :container => false %>
</div>
<div class="container">
  <% @turmas.each do |turma| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
             <%= turma.disciplina.nome %>
          </div>
          <div class="card-body">
            <h5 class="card-title" ><%= turma.horario %></h5>
            <p class="card-text">Vagas: <%= turma.vagas %></p>
            <%= turma.disciplina.codigo  %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="apple_pagination">
    <%= will_paginate @turmas, :container => false %>
</div>