<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Segunda</th>
            <th scope="col">Terça</th>
            <th scope="col">Quarta</th>
            <th scope="col">Quinta</th>
            <th scope="col">Sexta</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">LM</th>
            <td><%= @horarios[0] %></td>
            <td><%= @horarios[1] %></td>
            <td><%= @horarios[2] %></td>
            <td><%= @horarios[3] %></td>
            <td><%= @horarios[4] %></td>
        </tr>
         <tr>
            <th scope="row">NP</th>
            <td><%= @horarios[5] %></td>
            <td><%= @horarios[6] %></td>
            <td><%= @horarios[7] %></td>
            <td><%= @horarios[8] %></td>
            <td><%= @horarios[9] %></td>
        </tr>
    </tbody>
</table>