<h1 class="text-center mt-4">Disciplinas já cursadas</h1>
<p class="text-center"><strong>Coeficiente de rendimento do aluno: <u><%= current_user.coeficiente.round(2) %></u></strong></p>

<div class="apple_pagination">
<div class="page_info">
    <%= page_entries_info @historicos %>
</div>
    <%= will_paginate @historicos, :container => false %>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Nível</th>
      <th scope="col">Semestre</th>
      <th scope="col">Nota</th>
      <th scope="col">Aprovado</th>
    </tr>
  </thead>
  <tbody>
  <% @historicos.order(:nivel, :semestre).each do |historico| %>
    <div class="row justify-content-md-center">
      <tr class="table-secondary">
        <td><%= historico.disciplina.nome %></td>
        <td><%= historico.disciplina.nivel %></td>
        <td><%= historico.semestre %></td>
        <td><%= historico.nota %></td>
        <td><%= historico.aprovado ? "Sim" : "Não" %></td>
      </tr>
    </div>
  <% end %>
  </tbody>
</table>


<div class="apple_pagination">
    <%= will_paginate @historicos, :container => false %>
</div>